.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scores {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.buttons > button {
    height: 5vh;
    width: 5vw;
    font-size: 2vh;
}